* {
  margin: 1px;
  /* font-family: "Roboto Mono Nerd Font Complete", "Material Design Icons Desktop";*/
  font-family: "Roboto Mono", sans-serif;  
  min-height: 0;
}

window#waybar {
  /* animation-name: fadeIn; */
  /* animation-duration: 1s; */
	/* background-color: #011330; */
	/* background-color: transparent; */
  /* background-color: #1a222e */
  background-color: #363253;
}

#workspaces {
  margin: 4px 6px;
  font-size: 16px;
}
#workspaces button {
  padding: 0px 0px;
  color: #F8F8F2;
  border-bottom: solid 2px #707791;
  border-radius: 0px;
}
/* @keyframes fadeIn { */
/*   from {opacity: 0;} */
/*   to {opacity: 1;} */
/* } */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	/* box-shadow: inherit; */
	/* text-shadow: inherit; */
  color: black;
}

#workspaces button.focused {
  border-bottom: solid 2px #F8F8F2;
}

#pulseaudio.muted {
  color: #607290;
}

#battery, #clock, #pulseaudio, #custom-updates {
  padding: 0px 2px;
  color: #F8F8F2;
  /* border-radius: 10px; */
  font-size: 16px;
}

#clock {
  margin-top: 3px;
}

#battery {
  margin-top: 2px;
}

#tray {
  padding: 3px 5px;
}
